@mixin input($width, $height){
    width:$width;
    height:$height;
    color: #BBB;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.35px;
text-transform: uppercase;
resize: none;
}